#containerTable{
   height:500px;
   position:relative;
   left:95px;
   top:15px;
}

#tabla{
   left:125px;
   top:56px;
   width:900px;
   height:370px;
   position:relative
}

#botones {
   left:33px;
   top:23px;
   }

#texto {
   position:relative;
   left:116px;
   top:-3px;
   width:76px;
   color:#050505;
   font-size:33px;
   font-weight:700;
   }
   