#root > div > div > div > div > nav > div > div{
    background-color: black;
}


.css-1nxmd3h-MuiListItem-root{
    color: white;
}

#lista{
    background-color: black;
}

#item{
    color: aliceblue;
}

.MuiListItemIcon-root.css-cveggr-MuiListItemIcon-root{
    color: white;
}

#home {
    position:relative;
    left:-4px;
    top:-2px;
    }

#historial {
    width: 20px;
    position:relative;
    left:-4px;
    top:-2px;
}

#trabajadores {
    width: 20px;
    position:relative;
    left:-4px;
    top:-2px;
}

#estudiantes {
    width: 20px;
    position:relative;
    left:-4px;
    top:-2px;
}
#archivos {
    width: 20px;
    position:relative;
    left:-4px;
    top:-2px;
}
#config {
    width: 20px;
    position:relative;
    left:4px;
    top:-2px;
}

.bm-item-list{
    position:relative;
    left:-8px;
    top:-9px
}

#p{position: initial;
    left: 83px;
    top: -19px;
    color: white;
    font-family: Arial;
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: large;
}

#nombre{
    position:relative;
    left:22px;
    top:-4px;
    font-size: large;
}

#numero {
    left:-83px;
    top:16px;
    width:220px;
    height:25px;
    min-width:160px;
    position:relative;
}

#mensaje{
    background-color: white;
}