#root > div > div > div > div > nav > div > div{
    background-color: black;
}

.css-1nxmd3h-MuiListItem-root{
    color: white;
}

.css-h4y409-MuiList-root{
    background-color: black;
}

.MuiListItemIcon-root.css-cveggr-MuiListItemIcon-root{
    color: white;
}